body{
   box-sizing: border-box;
   display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(12,12vh);
   grid-gap: 10px;
   margin: .5%;
}

header{
   margin-top: 15px;
   grid-column: 2/12;
   grid-row:1/2;
   border: 1.5px solid #28847c;
   margin: 0 auto;
   width: 100%;
   height:100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   
}
img{
   width: 2.5rem;
   margin: 0 auto;
}

nav{
   grid-column: 2/12;
   grid-row:2/3;
   
   margin: 0 auto;
   width: 100%;
   height:100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   border-radius: 15px;
}
nav ul{
   border: 1.5px solid #28847c;
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;;
}

.links-container li{
   text-transform: uppercase;
}
.links-container a{
   text-decoration: none;
   color: #28847c;
   font-size: 1.2rem;
   padding: 10px 25px;
   
}
.links-container li:last-child{
border: 1px solid #28847c;
padding: 8px;
border-radius: 5px;
}
.links-container li:last-child:hover{
   border: 1px solid white;
   padding: 8px;
   border-radius: 5px;
   background-color: #28847c;
   }
   .item-link:last-child:hover, .action:hover{
      color: white;
      transition: ease-in-out .5s;
   }
main{
   grid-column: 2/12;
   grid-row:3/9;
   border: 1.5px solid #28847c;
   margin: 0 auto;
   width: 100%;
   height:100%; 
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(3,1fr);
   border-radius: 15px;
}
.ads-banner{
   /* border: solid 2px #28847c; */
   grid-column: 1/4;
   grid-row:1/2;
   min-width:inherit;
   height:98%;
   background-image: url(../assets/hero-image.jpg);
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 15px;
}
.banner-overlay{
   border: 1px solid white;
   width: inherit;
   min-height: 100%;
   background-color: rgba(0,0,0,.3);
   border-radius: 15px;
}
.banner-overlay h1{
  
   color: white;
   margin-top:4%;
   margin-left: 5%;
   margin-bottom: .5%;
   font-size: 3rem;
}
.banner-overlay p{
 
   color: white;
   margin: 1% 5%;
   font-size: 1.5rem;
}
.cards-container{
   
   grid-column: 1/4;
   grid-row:2/4;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1,1fr);
}
.cards1{
   grid-column: 1/2;
   grid-row: 1/2;
   border: 2.5px solid #28847c;
   margin: 5% auto;
   width: 80%;
   height: 90%;
   border-radius: 15px;
}
.cards2{
   grid-column: 2/3;
   grid-row: 1/2;
   border: 2.5px solid #28847c;
   margin: 5% auto;
   width: 80%;
   height: 90%;
   border-radius: 15px;
}
.cards3{
   grid-column: 3/4;
   grid-row: 1/2;
   border: 2.5px solid #28847c;
   margin: 5% auto;
   width: 80%;
   height: 90%;
   border-radius: 15px;
}
footer{
   grid-column: 2/12;
   grid-row:9/10;
   border: 1.5px solid #28847c;
   margin: 0 auto;
   width: 100%;
   height:100%;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   border-radius: 15px;
}